@charset "UTF-8";
.layout {
  width: 1000px;
  margin: 0 auto; }

#headerWrap {
  background: #f6f6f6; }
  #headerWrap .top {
    background: #000;
    height: 30px; }
    #headerWrap .top .layout {
      display: flex;
      justify-content: space-between;
      font: 14px/30px "";
      align-items: center; }
    #headerWrap .top a {
      color: #f00; }
    #headerWrap .top .left {
      display: flex;
      justify-content: flex-start; }
      #headerWrap .top .left a {
        padding: 0 20px; }
    #headerWrap .top .right {
      display: flex;
      justify-content: flex-end; }
      #headerWrap .top .right a {
        padding: 0 10px; }
  #headerWrap .middle {
    display: flex;
    justify-content: space-between;
    height: 98px;
    align-items: center; }
    #headerWrap .middle .logo {
      padding: 24px 15px;
      width: 180px;
      background: #fff; }
      #headerWrap .middle .logo a {
        display: block;
        width: 180px;
        height: 50px; }
        #headerWrap .middle .logo a img {
          display: block;
          width: 100%;
          height: 100%; }
    #headerWrap .middle .center {
      flex-basis: 5.72rem;
      display: flex;
      font: 12px/36px "";
      height: 36px;
      background: #e0e0e0;
      border-radius: 8px; }
      #headerWrap .middle .center .category {
        width: 102px;
        font-size: 16px;
        text-align: center; }
      #headerWrap .middle .center .find {
        display: flex; }
        #headerWrap .middle .center .find * {
          border: none;
          background: none;
          outline: none; }
        #headerWrap .middle .center .find .txt {
          width: 420px;
          height: 36px;
          text-indent: 20px; }
        #headerWrap .middle .center .find .btn {
          width: 50px;
          height: 36px;
          background: #da0120;
          border-radius: 0 8px 8px 0; }
        #headerWrap .middle .center .find .btn:after {
          content: "";
          display: block;
          width: 14px;
          height: 14px;
          background: url(../imgs/spriter.png) -1299px -270px no-repeat;
          margin: 0 auto; }
    #headerWrap .middle .right {
      display: flex;
      justify-content: space-between;
      font: 12px/16px ""; }
      #headerWrap .middle .right a {
        display: block; }
      #headerWrap .middle .right .user {
        margin-right: 40px;
        position: relative; }
        #headerWrap .middle .right .user span {
          display: block; }
        #headerWrap .middle .right .user .login {
          font-weight: 700; }
      #headerWrap .middle .right .user::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 36px;
        background: url(../imgs/spriter.png) -159px -855px no-repeat;
        left: -35px; }
      #headerWrap .middle .right .car {
        position: relative; }
        #headerWrap .middle .right .car span {
          display: block; }
        #headerWrap .middle .right .car .amount {
          width: 40px;
          height: 16px;
          background: #da0120;
          color: #fff;
          text-align: center;
          font: 12px/16px "";
          border-radius: 10px; }
      #headerWrap .middle .right .car::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 36px;
        background: url(../imgs/spriter.png) -196px -857px no-repeat;
        left: -35px; }
  #headerWrap nav {
    height: 46px;
    display: flex; }
    #headerWrap nav a {
      display: block; }
    #headerWrap nav .category {
      width: 210px;
      font: 14px/2 ""; }
      #headerWrap nav .category > a {
        padding: 0 15px;
        color: #000;
        font: 700 16px/46px "";
        background: #fff; }
      #headerWrap nav .category .list {
        position: relative;
        width: 210px;
        height: 526px;
        background: #fff; }
        #headerWrap nav .category .list .first {
          display: flex; }
          #headerWrap nav .category .list .first > a {
            width: 180px;
            padding: 0 15px;
            color: #333333;
            font: bold 16px/2 "";
            background: #fff; }
          #headerWrap nav .category .list .first .second {
            width: 728px;
            height: 464px;
            padding: 30px 30px;
            border: solid 1px #ccc;
            background: #fff;
            position: absolute;
            z-index: 1;
            left: 210px;
            top: 0;
            display: none; 
        }
            #headerWrap nav .category .list .first .second dd {
                display: flex; }
              #headerWrap nav .category .list .first .second dd > a {
                width: 120px;
                color: #f00;
                font-weight: bold; }
              #headerWrap nav .category .list .first .second dd .third {
                  flex-wrap: wrap;
                  display: none; 
            }
                #headerWrap nav .category .list .first .second dd .third li {
                  margin: 0 10px; }
    #headerWrap nav .navList {
      padding-left: 10px;
      display: flex;
      font: 700 16px/46px ""; }
      #headerWrap nav .navList li {
        margin-right: 40px; }
        #headerWrap nav .navList li a {
          color: #000; }
      #headerWrap nav .navList .new, #headerWrap nav .navList .hot {
        position: relative; }
      #headerWrap nav .navList .new::before, #headerWrap nav .navList .hot::before {
        content: "";
        position: absolute;
        width: 14px;
        height: 14px;
        background: url(../imgs/spriter.png) no-repeat;
        left: 0;
        right: 0;
        margin: auto; }
      #headerWrap nav .navList .new::before {
        background-position: -824px -548px; }
      #headerWrap nav .navList .hot::before {
        background-position: -888px -548px; }

#footerWrap {
  padding: 20px 0; }
  #footerWrap .top {
    font: 12px/2 "";
    color: #333;
    padding-bottom: 20px; }
    #footerWrap .top .layout {
      display: flex;
      justify-content: space-between; }
      #footerWrap .top .layout dl {
        width: 160px;
        padding: 20px; }
        #footerWrap .top .layout dl dt {
          color: #000;
          font-weight: 700; }
        #footerWrap .top .layout dl dd.gap {
          height: 1px;
          background: #333;
          width: 100px;
          margin: 10px 0; }
      #footerWrap .top .layout .news {
        font-weight: 700;
        color: #000;
        text-align: center; }
        #footerWrap .top .layout .news p {
          margin: 12px 0; }
        #footerWrap .top .layout .news button {
          padding: 0 15px;
          background: #da0120;
          border: none;
          font: 14px/2 ""; }
          #footerWrap .top .layout .news button a {
            color: #fff; }
        #footerWrap .top .layout .news ul {
          display: flex;
          justify-content: center;
          margin-top: 20px; }
          #footerWrap .top .layout .news ul li {
            margin: 0 5px; }
            #footerWrap .top .layout .news ul li a {
              display: block;
              width: 40px;
              height: 40px;
              background: url(../imgs/spriter.png) no-repeat; }
          #footerWrap .top .layout .news ul :nth-child(1) a {
            background-position: -1187px -796px; }
          #footerWrap .top .layout .news ul :nth-child(2) a {
            background-position: -1147px -796px; }
          #footerWrap .top .layout .news ul :nth-child(3) a {
            background-position: -1027px -796px; }
          #footerWrap .top .layout .news ul :nth-child(4) a {
            background-position: -946px -796px; }
          #footerWrap .top .layout .news ul :nth-child(5) a {
            background-position: -1227px -796px; }
  #footerWrap .middle {
    height: 80px;
    background: #000;
    padding: 20px 0; }
    #footerWrap .middle .layout {
      display: flex;
      justify-content: space-around; }
      #footerWrap .middle .layout a {
        color: #ccc;
        padding: 0 40px 0 10px; }
      #footerWrap .middle .layout div {
        text-align: center;
        line-height: 80px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center; }
        #footerWrap .middle .layout div em {
          width: 50px;
          height: 50px;
          background: url(../imgs/spriter.png) no-repeat; }
      #footerWrap .middle .layout :nth-child(1) em {
        background-position: -112px -796px; }
      #footerWrap .middle .layout :nth-child(2) em {
        background-position: -576px -180px; }
      #footerWrap .middle .layout :nth-child(4) em {
        background-position: -580px -796px; }
      #footerWrap .middle .layout :nth-child(5) em {
        background-position: -576px -120px; }
      #footerWrap .middle .layout .register {
        width: 140px;
        height: 140px;
        margin-top: -50px;
        background: #9e0a0a;
        border-radius: 50%; }
        #footerWrap .middle .layout .register div {
          width: 125px;
          height: 125px;
          background: #c00717;
          border-radius: 50%;
          text-align: center; }
          #footerWrap .middle .layout .register div a {
            display: block;
            padding: 0;
            font: 22px/125px "";
            color: #fff; }
  #footerWrap .bottom {
    background: #f6f6f6;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    #footerWrap .bottom .logo {
      display: flex;
      justify-content: center; }
      #footerWrap .bottom .logo li a {
        display: block;
        background: url(../imgs/footer-logo.png) no-repeat;
        margin: 0 5px; }
      #footerWrap .bottom .logo li:nth-child(1) a {
        background-position: -1px 0;
        width: 90px;
        height: 43px; }
      #footerWrap .bottom .logo li:nth-child(2) a {
        background-position: -100px 0;
        width: 72px;
        height: 43px; }
      #footerWrap .bottom .logo li:nth-child(3) a {
        background-position: -181px 0;
        width: 48px;
        height: 43px; }
      #footerWrap .bottom .logo li:nth-child(4) a {
        background-position: -240px 0;
        width: 45px;
        height: 43px; }
      #footerWrap .bottom .logo li:nth-child(5) a {
        background-position: -300px 0;
        width: 72px;
        height: 43px; }
      #footerWrap .bottom .logo li:nth-child(6) a {
        background-position: -382px 0;
        width: 72px;
        height: 43px; }
    #footerWrap .bottom .linkWrap {
      display: flex;
      justify-content: center;
      width: 80%;
      margin: 0 auto; }
      #footerWrap .bottom .linkWrap div:nth-child(1) {
        color: #000;
        width: 70px;
        font: bold 14px/24px ""; }
      #footerWrap .bottom .linkWrap .friendLink {
        display: flex;
        font: 12px/2 "";
        flex-wrap: wrap; }
        #footerWrap .bottom .linkWrap .friendLink a {
          color: #666; }
        #footerWrap .bottom .linkWrap .friendLink a::after {
          content: "|";
          padding: 0 10px;
          color: #000; }
        #footerWrap .bottom .linkWrap .friendLink a:last-child:after {
          content: "";
          padding: 0; }
        #footerWrap .bottom .linkWrap .friendLink a:hover {
          color: #f00; }
    #footerWrap .bottom .ICP {
      margin-top: 10px;
      font: 12px/2 "";
      display: flex;
      justify-content: center;
      align-items: center; }
      #footerWrap .bottom .ICP a {
        color: #000; }
        #footerWrap .bottom .ICP a img {
          vertical-align: middle;
          margin-right: 10px; }
      #footerWrap .bottom .ICP a:nth-child(1), #footerWrap .bottom .ICP .ICP a:nth-child(2) {
        margin-right: 30px; }
    #footerWrap .bottom .copyRight {
      text-align: center;
      font: 12px/28px ""; }

#sideMenu {
  width: 40px;
  position: fixed;
  top: 60px;
  right: 0;
  font: 18px/1 "";
  text-align: center; }
  #sideMenu .menu {
    padding-top: 10px;
    background: #000; }
    #sideMenu .menu li {
      margin-top: 10px; }
      #sideMenu .menu li em {
        display: block;
        width: 40px;
        height: 40px;
        background: url(../imgs/spriter.png) no-repeat; }
      #sideMenu .menu li a {
        display: block;
        width: 18px;
        color: #fff;
        margin: 0 auto; }
    #sideMenu .menu li:nth-child(1) em {
      background-position: 0 -902px;
      position: relative;
      color: #fff; }
    #sideMenu .menu li:nth-child(1) span {
      position: absolute;
      padding: 1px 8px;
      background: #c00717;
      border-radius: 8px;
      left: 10px;
      margin: auto;
      top: -10px; }
    #sideMenu .menu li:nth-child(2) em {
      background-position: -280px -902px; }
    #sideMenu .menu li:nth-child(3) em {
      background-position: -80px -902px; }
    #sideMenu .menu li:nth-child(4) {
      height: auto; }
    #sideMenu .menu li:hover a {
      color: #9e0a0a; }
    #sideMenu .menu li:nth-child(4) a {
      width: 40px; }
    #sideMenu .menu li:nth-child(4) em {
      background-position: -120px -902px; }
  #sideMenu .backToTop {
    margin-top: 10px;
    padding-bottom: 10px;
    width: 40px;
    height: 40px;
    background: #000 url(../imgs/spriter.png) no-repeat -1273px -210px; }
  #sideMenu .backToTop:hover {
    background-position: -240px -900px; }

/* 左侧商品楼层 */
#floor {
  position: fixed;
  top: 100px;
  left: 0;
  background: #000;
  width: 40px;
  display: none;
  font: 16px/40px ""; }
  #floor li{
    width: 40px;
    position: relative; }
  #floor em {
    display: block;
    width: 40px;
    height: 40px;
    border-bottom: solid 1px #fff;
    background: url(../imgs/spriter.png) no-repeat; }
  #floor span {
    position: absolute;
    width: 78px;
    height: 40px;
    padding: 0 5px;
    left: 0;
    top: -40px;
    background: #fff;
    margin-left: 40px;
    display: none; }
  #floor em:last-child {
    border: none; }
  #floor li:nth-child(1) em {
    background-position: -706px -796px; }
  #floor li:nth-child(2) em {
    background-position: -626px -796px; }
  #floor li:nth-child(3) em {
    background-position: -386px -796px; }
  #floor li:nth-child(4) em {
    background-position: -266px -796px; }
  #floor li:nth-child(5) em {
    background-position: -586px -796px; }
  #floor li:nth-child(6) em {
    background-position: -546px -796px; }
  #floor li:hover span {
    display: block; }
  #floor li:nth-child(1):hover em {
    background-position: -666px -796px; }
  #floor li:nth-child(2):hover em {
    background-position: -506px -796px; }
  #floor li:nth-child(3):hover em {
    background-position: -346px -796px; }
  #floor li:nth-child(4):hover em {
    background-position: -786px -796px; }
  #floor li:nth-child(5):hover em {
    background-position: -906px -796px; }
  #floor li:nth-child(6):hover em {
    background-position: -306px -796px; }
